@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f8f9fa;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: 350px;
  padding: 40px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-align: center;
}

.title {
  font-size: 2.2rem;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.input-field {
  position: relative;
  margin-bottom: 20px;
}

.input-field i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #333;
}

.input-field input {
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.input-field input:focus {
  border-color: #9b59b6;
}

.btn {
  width: 100%;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.btn.solid {
  background-color: #ce4ba6;
  color: white;
}

.btn.solid:hover {
  background-color: #d973ba;
}

.signup-link, .login-link {
  text-align: center;
  margin-top: 20px;
}

.signup-link a, .login-link a {
  color: #d973ba;
  text-decoration: none;
}

.signup-link a:hover, .login-link a:hover {
  text-decoration: underline;
}
